.paper {
    background-color: lemonchiffon;
}

.checkbox {
    text-align: center;
    list-style: none;
}

.license {
    text-align: center;
}

.skill {
    text-align: center;
}

.radio {
    text-align: center;
}