.paper{
    background-color: rgb(255, 255, 255);
    overflow: auto;
    padding:15px;
    box-shadow:5px 5px 50px 5px rgb(77, 76, 76);
    border-radius: 10px;
}

.font{
    font-weight: bolder;
}

.older{
    position: relative;
    top:20px;
    font-weight: bolder;
}

.gender{
    position: relative;
    left:  350px;
    top: -60px;
    font-weight: bolder;
}

.area{
    position: relative;
    top:-70px;
    font-weight: bolder;
}

.reset{
    position: relative;
    left: 150px;
    top:-10px;
}

.search{
    position: relative;
    left: 200px;
    top:-10px;
}