.paper1 {
    position: relative;
    margin: -5px;
    min-height: 10vh; 
    min-width: auto;
    /* overflow: scroll; */
}

.table1{
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    table-layout: fixed;
    margin: 30px;
}
.tablecell{
    position: relative;
    min-height: 1vh;
}
.gridcolor{
    background-color: red;
}